.cover__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  max-width: 360px;
  z-index: 1;
  padding-left: 48px;
  padding-right: 48px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .cover__subtitle {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 15px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }
}
