.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;

  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 18px;
  }
}

/* @media screen and (max-width: 480px) {
  .lead__subtitle {
    padding: 0 24px;
  }
} */

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}
