.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;

  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 375px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
