.place__link {
  color: white;
  font-size: 18px;
  line-height: 1.22;
  -webkit-transition: ease-out .15s opacity;
  -o-transition: ease-out .15s opacity;
  transition: ease-out .15s opacity;
}

.place__link:hover {
  opacity: .8;
}
