.cover__background {
  display: flex;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover__background::before {
  content: "";
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: ease-out .15s opacity;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
    width: calc(100% + 96px);
    margin-right: -48px;
    margin-left: -48px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
    margin-right: -24px;
    margin-left: -24px;
  }
}

@media screen and (max-width: 480px) {
  .cover__background {
    min-height: 266px;
  }
}

@media screen and (max-width: 375px) {
  .cover__background {
    min-height: 200px;
    margin-right: -16px;
    margin-left: -16px;
  }
}
