.cover__background {
  /* width: 100%;
  padding-bottom: 62.5%;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/cover-trains.jpg); */
  width: 100%;
}
