.cover__title {
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: white;
  max-width: 560px;
  z-index: 1;
  margin: 0 0 32px;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}


@media screen and (max-width: 320px) {
  .cover__title {
    padding: 0 16px;
  }
}
