@import url(./_narrow/section_narrow.css);

.section {
  width: 100%;
  padding: 46px 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .section {
    padding: 44px 24px;
  }
}

@media screen and (max-width: 375px) {
  .section {
    padding: 32px 16px;
  }
}
