.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 16px;
    padding-right: 16px;
  }
}
